[Unit]
Description=Run driveraker every hour

[Timer]
OnBootSec=5min
OnUnitActiveSec=60min
Unit=driveraker.service

[Install]
WantedBy=multi-user.target
