[Unit]
Description=Sync driveraker

[Service]
Type=oneshot
User=driveraker
Group=driveraker
ExecStart=/bin/bash /home/driveraker/.config/driveraker/sync.sh

[Install]
WantedBy=multi-user.target
